.vscode/**
.vscode-test/**
out/**
src/**
!src/webview/**
node_modules/**
!node_modules/mysql2/**
!node_modules/denque/**
!node_modules/generate-function/**
!node_modules/iconv-lite/**
!node_modules/long/**
!node_modules/lru.min/**
!node_modules/named-placeholders/**
!node_modules/seq-queue/**
!node_modules/sqlstring/**
!node_modules/is-property/**
!node_modules/safer-buffer/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
eslint.config.mjs
*.vsix
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
docs/**
.venv
assets/img/*
!assets/img/logo.png
config.md
.github
aide/*